<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Satisfactory Factory Planner{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="..\static\style.css">
    {% block head %}

    {% endblock %}
    
</head>
<body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Satisfactory Factory Planner</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/calculator">Calculator</a></li>
            <li><a href="/data">Data</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/changelog">Changelog</a></li>
          </ul>
      </div>
  </nav>

  <div class="main">
    <div class="center">
      {% block content %}

          <div>
            <h1>Satisfactory Factory Planner</h1>
          </div>

      {% endblock %}
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <footer>
    {% block footer %}

    {% endblock %}
  </footer>
</body>
</html>